@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
.landing {
  background-image: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
}

.lead {
  color: white;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.display-1 {
  color: #33ff4e;
}
.caption {
  color: #33ff4e;
}

.social-buttons a {
  display: inline-flex;
  text-decoration: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  color: rgb(235, 228, 228);
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.text {
  padding-left: 10%;
}
.social-buttons a::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg, #22a6b3, #30336b);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before {
  transform: scale(0);
}

.social-buttons a i {
  transition: 0.3s ease-in;
}

.social-buttons a:hover i {
  background: linear-gradient(45deg, #22a6b3, #30336b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}

@media screen and (max-width: 992px) {
  .mq {
    width: 100%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .mq {
    font-size: 3rem;
    widows: 100px;
  }
}
