#googlemaps {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

.ct-form {
  background: purple !important;
  height: min-content;
  background-position: hidden;
  color: white;
  background-position: 0%;
  padding-top: 5%;
  padding-bottom: 2%;

  margin: 0;
  padding-bottom: 1;
  overflow: hidden;
}
