@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

.cc {
  background: linear-gradient();
  animation: gradient 2s ease infinite;
}
.back {
  
  position: relative;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
}
