@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

.cc {
  background: linear-gradient();
  animation: gradient 2s ease infinite;
}
.back {
  background-image: url("https://images.pexels.com/photos/1309766/pexels-photo-1309766.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  position: relative;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
}
